:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --tight: 8px;
    --spacious: 32px;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --foreground: black;
    --foreground-muted: gray;
    --background: #e7e7e7;
    --accent: 240, 50%, 50%;

    --neumorphic-shadow: 7px 7px 14px #c4c4c4, -7px -7px 14px #ffffff;
    --neumorphic-shadow--active:
            inset 7px 7px 14px #c4c4c4, inset -7px -7px 14px #ffffff,
            inset -6px -6px 12px -6px hsla(var(--accent), 50%)
;

    @media (prefers-color-scheme: dark) {
        --foreground: white;
        --background: #363636;
        --neumorphic-shadow: 7px 7px 14px #2e2e2e, -7px -7px 14px #3e3e3e;
        --neumorphic-shadow-inset: inset 7px 7px 14px #2e2e2e, inset -7px -7px 14px #3e3e3e;
    }
}

html {
    height: 100%;
}

#root {
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
  height: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    height: 100%;
    color: var(--foreground);
}

button {
    border-radius: var(--tight);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
}

main {
    height: 100%;
    display: flex;
    gap: var(--tight);
    align-items: center;
    position: relative;
    flex-direction: row;
}

.blurb-container {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: start;
    text-align: left;
    padding: var(--spacious);
}

.blurb {
    max-width: 312px;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.size-full {
    width: 100%;
}

.parchment-demo-wrapper {
    height: 100%;
    display: flex;
    gap: var(--spacious);
    align-items: center;
}

.toggle-button {
    font-size: 0.75em;
    color: var(--foreground-muted);
    border-radius: var(--spacious);
    box-shadow: var(--neumorphic-shadow);

    &.active {
        color: hsla(var(--accent), 50%);
        box-shadow: var(--neumorphic-shadow--active);
        text-shadow: 0 0 4px hsl(var(--accent));
    }
}

.flex-1 {
    flex: 1;
}

/*style={{ display: 'flex', alignItems: 'center', flexDirection: isSmallView ? 'row' : 'column', gap: 'var(--spacious)', margin: 'var(--spacious)' }}*/
.parchment-nav-wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacious);
    margin: var(--spacious);
}

.parchment {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: var(--spacious);
}

.parchment-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--tight);
    padding: var(--tight);
    border-radius: var(--tight);
    border: 1px solid rgba(125, 125, 125, 0.5);
    max-height: 720px;
    width: 100%;
}
