:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --tight: 8px;
    --spacious: 32px;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --foreground: black;
    --foreground-muted: gray;
    --foreground-subtle: 0, 0%, 25%;
    --background: #e7e7e7;
    --accent: 187, 50%, 50%;

    --neumorphic-shadow: 5px 5px 10px #c4c4c4, -5px -5px 10px #ffffff;
    --neumorphic-shadow--active:
        inset 5px 5px 10px #c4c4c4, inset -5px -5px 10px #ffffff,
        inset -4px -4px 8px -4px hsla(var(--accent), 50%)
    ;

}

html {
    height: 100%;
    max-height: 100dvh;
    overflow: hidden;

    &.dark-mode {
        --accent: 187, 100%, 75%;
        --foreground-subtle: 0, 0%, 75%;
        --foreground: white;
        --background: #363636;
        --neumorphic-shadow: 5px 5px 10px hsla(0, 0%, 0%, 20%), -5px -5px 10px hsla(var(--foreground-subtle), 5%);
        --neumorphic-shadow--active: inset 5px 7px 10px hsla(0, 0%, 0%, 20%), inset -5px -5px 10px hsla(var(--foreground-subtle), 5%);
    }
}

#root {
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
  height: 100%;
  max-height: 100%;
  padding: var(--spacious);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    height: 100%;
    max-height: 100%;
    color: var(--foreground);
    font-family: "Geist", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

button {
    background-color: transparent;
    border: transparent;
    border-radius: var(--tight);
    color: var(--foreground);
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    padding: var(--tight);
    transition: border-color 0.25s;
}

main {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    position: relative;
    gap: var(--spacious);
}

.blurb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: var(--spacious);
    height: 100%;
    max-height: fit-content;
}

.blurb {
    max-width: 320px;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.size-full {
    width: 100%;
}

.parchment-demo-wrapper {
    height: 100%;
    max-height: 360px;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 1;
    padding: 2px;
}

.toggle-button-field {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--tight);


    button {
        border-radius: var(--spacious);
        box-shadow: var(--neumorphic-shadow);
        width: var(--spacious);
        flex-grow: 0;
        height: var(--spacious);
    }

    label {
        font-size: 0.675rem;
        letter-spacing: -0.2px;
    }

    &.active {
        label {
            color: hsla(var(--accent), 50%);
        }

        button {
            box-shadow: var(--neumorphic-shadow--active);
        }
    }
}

.flex-1 {
    flex: 1;
}

.parchment-nav-wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacious);
    height: 100%;
    max-height: fit-content;
}

.parchment {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: var(--spacious);
    border-radius: var(--tight);
    border: 1px solid hsla(var(--foreground-subtle), 5%);
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: hsla(var(--foreground-subtle), 10%) hsla(var(--foreground-subtle), 2%);
}

.parchment-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--tight);
    padding: var(--tight);
    border-radius: var(--tight);
    border: 1px solid hsla(var(--foreground-subtle), 5%);
    max-height: 720px;
    width: 100%;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: var(--spacious);
    border-radius: var(--tight);
    border: 1px solid hsla(var(--foreground-subtle), 5%);
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: var(--tight);
    box-sizing: border-box;
    border-radius: var(--tight);
    border: 1px solid hsla(var(--foreground-subtle), 5%);
}

.gap-tight {
    gap: var(--tight)
}

.gap-spacious {
    gap: var(--spacious)
}

.parchment-button.active {
    color: hsla(var(--accent), 50%);
}